@import url("master.css");

#anchor {
   -fx-background-image: url('/images/settings.png');
   -fx-background-repeat: stretch;
   -fx-background-size: cover;   
}

.label {
	-fx-font-size: 25px;
}

.button {
	-fx-padding: 8 10 15 10;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-font-size: 15;
}

#title_1 {
	-fx-font-size: 65px;
	-fx-alignment: center;
	-fx-font-weight: bold;
}
#title_2 {
	-fx-font-size: 45px;
}
#title_3 {
	-fx-font-size: 25px;
}
#p1_left {
	-fx-graphic: url('/images/key_A.png');
	
}
#p1_right {
	-fx-graphic: url('/images/key_D.png');
}
#p2_left {
	-fx-graphic: url('/images/key_left.png');
}
#p2_right {
	-fx-graphic: url('/images/key_right.png');
}