.button {

	-fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 15;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #ff531a,
        radial-gradient(center 50% 50%, radius 100%, #ff531a, #ff4000);
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-text-fill: white;

}
.button:hover {
	 -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #002966 0%, #001f4d 100%),
        #003380,
        #3385ff,
        radial-gradient(center 50% 50%, radius 100%, #3385ff, #005ce6);
	-fx-cursor: pointer;
}