@import url("master.css");

#anchor {
   -fx-background-image: url('/images/account_creation.png');
   -fx-background-repeat: stretch;
   -fx-background-size: auto;   
}

.label {
	-fx-font-size: 12px;
	-fx-font-weight: bold;
}

#title_1 {
	-fx-font-size: 25px;
	-fx-alignment: center;
}