@import url("master.css");

#anchor {
   -fx-background-image: url('/images/account_creation.png');
   -fx-background-repeat: stretch;
   -fx-background-size: cover;   
}

.label {
	-fx-font-size: 12px;
	-fx-font-weight: bold;
}

.button {
	-fx-padding: 8 10 15 10;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-font-size: 15;
}

#title_1 {
	-fx-font-size: 25px;
	-fx-alignment: center;
}