#pane{
   -fx-background-image: url('rally.png');
   -fx-background-repeat: stretch;   
   -fx-background-position: center center;
}

#login{
   -fx-background-image: url('rally_menu.png');
   -fx-background-repeat: stretch;   
   -fx-background-position: center center;
}